@model List<PruebaIngreso.Controllers.HomeController.TourQuoteDecorator>

@{
    ViewBag.Title = "Test 4";
}
<h2>@ViewBag.Title.</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Service Code</th>
            <th scope="col">Net Rate</th>
            <th scope="col">Rate</th>
            <th scope="col">Margin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var q in Model)
        {
            <tr>
                <th scope="row">@q._tourQuote.ContractService.ServiceCode</th>
                <td>@q._tourQuote.adultNetRate</td>
                <td>@q._tourQuote.adultRate</td>
                <td>@q.margin</td>
            </tr>
        }
    </tbody>
</table>